<div class="container">
    <div class="search-bar">
        <input type="text" placeholder="Departure" id="departureInput" [(ngModel)]="departurePoint.name" (keyup)="searchDparture(departurePoint.name)">
        <button (click)="mapComponent.locateUser()">Locate Me</button>
        <ul *ngIf="departureResults.length > 0">
          <li *ngFor="let result of departureResults" (click)="selectDeparture(result)">
              {{ result.display_name }} <!-- Display the location name -->
          </li>
        </ul>

        <input type="text" placeholder="Destination" id="destinationInput" [(ngModel)]="destinationPoint.name" (input)="searchDestination(destinationPoint.name)">
        <button (click)="mapComponent.enableUserPointing()">Select on map</button>
        <ul *ngIf="destinationResults.length > 0">
          <li *ngFor="let result of destinationResults" (click)="selectDestination(result)">
              {{ result.display_name }} 
          </li>
        </ul>
    </div>

    <div class="map-container">
        <app-map (departureSelected)="onLocationFound($event)" (destinationSelected)="onDestinationFound($event)" ></app-map>
    </div>

    <div class="results">
        <button (click)="mapComponent.plotRoute(departurePoint.coord ,destinationPoint.coord )">Show route</button>
        <p>Results will go here</p>
    </div>
</div>
