.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    height: 100vh; /* Take up full viewport height */
  }
  
  .search-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Distribute search bars evenly */
  }
  
  .search-bar input {
    padding: 10px;
    width: 45%; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.map-container {
  height: 400px; 
  width: 98%; 
  border: 1px solid #000000;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

  
  .results {
    padding: 20px;
    border-top: 1px solid #ccc;
  }
 
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
}

li:hover {
    background: #f0f0f0; /* Highlight on hover */
}
